{% extends "master.html" %}
{% block the_table %}
<form method="POST" action="/coaster/{{the_data[0]}}">
<table>
<tr>
<td>Name:</td>
<td><input  type="text" name="Name" value="{{the_data[0]}}" disabled/></td></tr>
<tr>
  <td>Park:</td>
  <td><input type="text" name="Park" value="{{the_data[1]}}" /></td></tr>
<tr>
  <td>State:</td>
  <td><input type="text" name="State" value="{{the_data[2]}}" /></td></tr>
<tr>
   <td>Country:</td>
   <td><input  type="text" name="Country" value="{{the_data[3]}}" /></td></tr>
<tr><td>Duration:</td>
<td><input name="Duration" value="{{the_data[4]}}" /></td></tr> 
<tr><td>Speed:</td>
<td><input name="Speed" value="{{the_data[5]}}" /></td></tr>
<tr><td>Height:</td>
<td><input name="Height" value="{{the_data[6]}}" /></td></tr>
<tr><td>VertDrop:</td>
<td><input name="VertDrop" value="{{the_data[7]}}" /></td></tr> 
<tr><td>Length:</td>
<td><input name="Length" value="{{the_data[8]}}" /></td></tr> 
<tr><td>Yr_Opened:</td>
<td><input name="Yr_Opened" value="{{the_data[9]}}" /></td></tr>
<tr><td>Inversions:</td>
<td><input name="Inversions" value="{{the_data[10]}}" /></td></tr>
<tr><td><input type="submit" name="submit" value="Submit / Update" /></td>
<td><input type="reset" value="Start Over"></td></tr>
</table>
</form>
{% endblock %}
